// Fortawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
// Variables
@import '../components/variables';
html, body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}
a{
    text-decoration: none;
}
.body_content {
    min-height: calc(100vh - 490px);
}
.bg-transparent{
    background-color: transparent !important;
}

.title-banner{
    h1 {
        font-weight: normal;
        text-transform: uppercase;
        margin: 0.3125em 0;
        position: relative;
        display: inline-block;
        padding: 0 10px;
        background: $pink-2;
        padding: 5px 10px;
        color: $white;
        font-family: "Abril Fatface", sans-serif;
        max-width: 350px;
        width: 100%;
        font-size: 20px;
    }
}
.text-blue-100{
    color: #26c6da;
}
/**
* Page about
*/
.wellcome {
    padding-bottom: 30px; 
    .media {
        padding-bottom: 20px; 
        .media-body {
            padding-left: 40px; 
            h1 {
                font-family: Poppins;
                font-weight: 400;
                font-size: 18px;
                color: $pink-2;
                margin-top: 10px;
                color: $pink-2;
            }
            h2 {
                font-family: Abril Fatface;
                font-weight: 400;
                font-size: 30px;
                color:$pink-2;
                margin-top: 0; 
            }
        }
        .media-left{
            width: 20%;
        }
    }
    p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        color:$gray-333;
        padding: 0 90px 20px 0; 
    }
    .social-well{
        span {
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            color:#0ac4ff;
            padding-right: 20px;
            position: relative;
            top: -10px; 
        }
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin-right: 10px;
            opacity: .3;
            transition: all .5s ease;
            &#link-insta2 {
                background-image: url("img/social-v3.png");
                background-position: 0 0;
                height: 35px;
                background-repeat: no-repeat; 
            }
            &#link-fb2 {
                background-image: url("img/social-v3.png");
                background-position: -35px 0;
                height: 35px;
                background-repeat: no-repeat; 
            }
            &#link-tw2 {
                background-image: url("img/social-v3.png");
                background-position: -70px 0;
                height: 35px;
                background-repeat: no-repeat; 
            }
            &#link-sky2 {
                background-image: url("img/social-v3.png");
                background-position: -105px 0;
                height: 35px;
                background-repeat: no-repeat; 
            }
            &:hover {
                opacity: 1; 
            }
        }
    }
}
.img-cavas {
    overflow: hidden;
    position: relative;
    & a::before {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 33%;
        display: block;
        content: '';
        width: 25%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-transform: skewX(50deg);
        transform: skewX(50deg);
        transition: all .3s ease-in-out;
    }
    & a:hover::before {
        opacity: 1;
        -webkit-animation: shine-left .3s linear forwards;
        animation: shine-left .3s linear forwards;
        overflow: hidden; 
    }
    & a::after {
        opacity: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 33%;
        display: block;
        content: '';
        width: 25%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-transform: skewX(50deg);
        transform: skewX(50deg);
        transition: all .3s ease-in-out; 
    }
    & a:hover::after {
        opacity: 1;
        -webkit-animation: shine-right .3s linear forwards;
        animation: shine-right .3s linear forwards;
        overflow: hidden; 
    }
}
.img-cicle-100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.title{
    h2{
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        position: relative;
        padding-bottom: 5px;
        &::after{
            content: "";
            position: absolute;
            background: $gray-500;
            height: 2px;
            width: 100%;
            bottom: 0px;
            left: 0px;
        }
    }
}
.shop {
    margin: 30px 0px;
    .shop-box {
        border: 2px solid $gray-500;
        height: 50px;
        text-align: center;
        width: 250px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
    }
    &-map{
        .flex-img{
            height: 485px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .shop-bg-right{
            min-height: 427px;
            background: $pink-2;
            padding: 45px 20px;
            .list-group-item{
                border-radius: 0px !important;
                padding: 20px 15px;
            }
        }
        & img {
            width: 100%;
        }   
    }
}
.title-shop{
    font-weight: bold;
    color: $white;
    font-size: 28px;
    margin-bottom: 20px;
}
.mlr-0 {
    margin: 0px auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.60), 0 1px 5px rgba(0, 0, 0, 0.60);
    border-top: 2px solid #087eb3;
    border-radius: 4px;
}
.plr-0{
    padding: 0px;
}
.mt-30 {
    margin-top: 30px;
}
.p-30 {
    padding: 30px 15px;
    border-radius: 0px !important;
}
.text-bold {
    font-weight: 700;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50 {
    margin-bottom: 50px;
}
%contact-box-shadow{
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    background: $white;
    position: relative;
    padding: 20px 15px;
    height: 210px;
    text-align: center;
    border-radius: 6px;
}
%box-shadow-color{
    -webkit-box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
    box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
    color: $white;
    height: 120px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -30px;
    border-radius: 6px;
}
iframe {
    width: 100%;
    max-width: 100%;
}
.contact{
    margin-bottom: 50px;
    &-link{
        margin: 30px 0px;
        .icon-bold{
            font-size: 50px;
        }
        h1{
            font-size: 20px;
            font-weight: 700;
        }
        h2{
            font-size: 16px;
        }
    }
    &--box{
        @extend %contact-box-shadow;
    }
    &--text{
        margin-top: 95px;
    }
    .color-1{
        background: #26c6da;
        @extend %box-shadow-color;
    }
    .color-2{
        background: #FFC107;
        @extend %box-shadow-color;
    }
    .color-3{
        background: #66bb6a;
        @extend %box-shadow-color;
    }
    .color-4{
        background: #03A9F4;
        @extend %box-shadow-color;
    }
}
.message {
    padding: 35px 0px;
}
#slider-baner{
    .carousel-inner{
        max-height: 400px;
        .item-slide {
            max-height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            & > img{
                width: 100%;
            }
        }
    }
}
.show-img{
    .container{
        padding: 30px;
        background: #fff;
        z-index: 10;
        box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.20);
        position: relative;
        margin: -30px auto 0 auto;
        &::before {
            border-top: 1px solid #e9e9e9;
            content: '';
            display: block;
            width: calc(100% + 140px);
            height: 15px;
            background: #fff;
            position: absolute;
            bottom: -15px;
            left: -70px;
        }
    }
    & img{
        width: 100%;
    }
}
.mobile-menu{
    z-index: 100;
    & a.active{
        color: $pink-2;
    }
}
/* 
* product detail
*/
.content-product{
    .product-title{
        h5{
            margin-bottom: 10px;
            a{
                font-weight: 600;
                font-size: 18px;
            }
        }
        p{
            display: inline-block !important;
            font-weight: 400;
            color: black;
            color: #b8b8b8
        }
        .prince {
            font-weight: 600;
            font-size: 18px;
            color: black;
            padding-top: 5px;
            margin-bottom: 20px;
            .strike {
                font-size: 14px;
                font-weight: 400;
                color: lightgrey;
                padding-left: 10px;
            }
        }
    }
    .product-decription{
        border-top: 1px solid #e9e9e9;
        h5{
            font-size: 18px;
            font-weight: 700;
        }
        ul{
            margin: 0;
            padding: 0px 0px 0px 15px;
        }
    }
}
.float-right {
    float: right;
}
// product list
.product{
    &-box{
        overflow: hidden;
        background-color: white;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        border: 1px solid #ddd;
        &--user{
            font-size: 12px;
            color: #555555;
            font-style: italic;
        }
        &--category {
            color: #555555;
            font-size: 12px;
            padding: 5px;
        }
        &--content {
            padding: 0px 10px;
        }
        p{
            margin: 0px;
        }
    }
}
.d-rs-none{
    display: none;
}
.mx-h-180 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img, .img-responsive{
        max-height: 200px !important;
    }
}
.mx-h-200 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 200px;
    img, .img-responsive{
        max-height: 200px !important;
    }
}
.product-title-flower{
    &  h5{
        margin-bottom: 2px;
    }
    & p{
        padding: 0px;
    }
}
.pro-list{
    .d-rs-none{
        display: block;
    }
    .product-box{
        padding: 10px;
    }
}
.title-center{
    h1{
        margin-bottom: 15px;
    }
}
.modal-header .close{
    & span{
        position: relative;
        top: -1px;
    }
}
.product-title-slic{
    padding: 10px;
}
.in_store.text-blue-100 {
    padding: 10px;
    border: 1px solid;
    max-width: 100px;
    margin-bottom: 10px;
    text-align: center;
}
@-webkit-keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
          animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
.align-middle {
    vertical-align: middle !important;
}
.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}
.item-show{
    a{
        display: block;
        width: 100%;
    }
}
/* 
* Resposive
*/
.circle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #0ac4ff;
    cursor: pointer;
}

.circle:before, .circle:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transition: box-shadow 0.4s ease-in-out;
}
.circle:after {
    transform: rotate(45deg);
}

.circle:hover:before, .circle:hover:after {
    box-shadow:
        15px 0 0 0 rgba(255,0,0,0.5) inset,
        0 15px 0 0 rgba(255,150,0,0.5) inset,
        -15px 0 0 0 rgba(0,255,0,0.5) inset,
        0 -15px 0 0 rgba(0,150,255,0.5) inset;
}
#header-banner {
    height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .snowflakes {
        width: 100%;
        height: 65px;
        position: absolute;
        top: -90px;
        left: 0;
    }

    i,
    i:after,
    i:before {
        background: white;
    }
    i {
        display: inline-block;
        -webkit-animation: snowflakes 3s linear 2s 20;
        -moz-animation: snowflakes 3s linear 2s 20;
        position: relative;
    }
    i:after,
    i:before {
        height: 100%;
        width: 100%;
    content: ".";
        position: absolute;
        top: 0px;
        left: 0px;
        -webkit-transform: rotate(120deg);
    }
    i:before {
        -webkit-transform: rotate(240deg);
    }
    @-webkit-keyframes snowflakes {
        0% {
            -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);
        }
        100% {
            -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
        }
    }
    .snowflakes i:nth-child(3n) {
        width: 16px;
        height: 4px;
        -webkit-animation-duration: 4s;
        -webkit-animation-iteration-count: 30;
        -webkit-transform-origin: right -45px;
    }
    .snowflakes i:nth-child(3n + 1) {
        width: 24px;
        height: 6px;
        -webkit-animation-duration: 6s;
        -webkit-animation-iteration-count: 45;
        -webkit-transform-origin: right -30px;
    }
    .snowflakes i:nth-child(3n + 2) {
        width: 32px;
        height: 8px;
        -webkit-animation-duration: 8s;
        -webkit-animation-iteration-count: 60;
        -webkit-transform-origin: right -15px;
    }
    /* different delays so they don't all start at the same time */
    .snowflakes i:nth-child(7n) {
        opacity: 0.3;
        -webkit-animation-delay: 0s;
        -webkit-animation-timing-function: ease-in;
    }
    .snowflakes i:nth-child(7n + 1) {
        opacity: 0.4;
        -webkit-animation-delay: 1s;
        -webkit-animation-timing-function: ease-out;
    }
    .snowflakes i:nth-child(7n + 2) {
        opacity: 0.5;
        -webkit-animation-delay: 1.5s;
        -webkit-animation-timing-function: linear;
    }
    .snowflakes i:nth-child(7n + 3) {
        opacity: 0.6;
        -webkit-animation-delay: 2s;
        -webkit-animation-timing-function: ease-in;
    }
    .snowflakes i:nth-child(7n + 4) {
        opacity: 0.7;
        -webkit-animation-delay: 2.5s;
        -webkit-animation-timing-function: linear;
    }
    .snowflakes i:nth-child(7n + 5) {
        opacity: 0.8;
        -webkit-animation-delay: 3s;
        -webkit-animation-timing-function: ease-out;
    }
    .snowflakes i:nth-child(7n + 6) {
        opacity: 0.9;
        -webkit-animation-delay: 3.5s;
        -webkit-animation-timing-function: ease-in;
    }
}
.is-invalid {
    border: 1px solid #d61212 !important;
}
.invalid-feedback {
    padding-top: 10px !important;
    font-size: 12px;
    color: #d20000;
    font-weight: 300 !important;
}
@media (max-width: 991px) {
    header{
        padding: 0px;
        .menu-main li a {
            display: block;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid #eae9e9;
            font-weight: 400;
        }
    }
    .show-img{
        .container{
            margin: 0px auto;
            &::before {
                width: auto;
            }
        }
    }
    .glass-image{
        max-width: 100%;
    }
    #slider-baner .carousel-inner {
        background: #90d0da;
        min-height: 250px;
    }
    #slider-baner .carousel-inner .item-slide > img {
        width: 1300px;
        max-width: 1300px;
    }
    #header-banner {
        height: auto;
        justify-content: flex-start;
        img {
            max-width: initial;
        }
    }
}
.related-products {
    margin-top: 40px;
    margin-bottom: 50px;
    .slider-title {
        text-align: center;
        font-size: 26px;
        margin-bottom: 30px;
        text-transform: uppercase;
        position: relative;
        font-weight: 700;
        &:before {
            content: " ";
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -15px;
            width: 30px;
            height: 2px;
            display: inline-block;
            background-color: #1aada3;
        }
    }
}
// blog
.read-more {
    border: 1px solid #555555;
    padding: 5px 10px;
    color: #e69c8f;
    text-decoration: none;
    font-size: 12px;
    &:hover{
        border: 1px solid #0ac4ff;
        color: #0ac4ff;
        text-decoration: none;
    }
}
#blog-slider {
    margin: 0px auto;
    padding-top: 30px;
    max-width: 100%;
    border-bottom: 1px solid #eeee;
    padding-bottom: 30px;
    background: rgba(10, 196, 255, 0.15);
  .slick-slider {
    margin-right:0px;
    margin-left:0px;
  }
  .slick-slide, .slick-list {
    text-align:center;
    margin-right:10px !important;
    margin-left:10px !important;
  }
  .slick-next {
    right: -25px;
    z-index: 99;
  }
  .slick-prev {
    left: -25px;
    z-index: 999;
  }
  .slick-next,
  .slick-prev{
    height: 50px;
    width: 30px
  }
  .slick-prev.slick-disabled,
  .slick-next.slick-disabled {
    opacity: .8;
    &::before{
      opacity: .8;
    }
  }
  .slick-prev, 
  .slick-next {
    &::before{
      content: "";
      opacity: 1;
      color: #909090;
      padding: 2px;
      position: relative;
      z-index: 999;
      display: block;
      width: 25px;
      height: 25px;
      border-top: 2px solid #909090;
      border-left: 2px solid #909090;
    }
  }
  .slick-prev::before{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 8px;
    top: 1px;
  }
  .slick-next::before{
    -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    left: -8px;
    top: 1px;
  }
  .slider{
    &-item{
      position: relative;
      text-align: center;
      & img{
        display: inline-block;
        max-width: 100%;
      }
      & a:hover{
        & img{
          opacity: .8;
        }
      }
    }
  }
  .blog{
    &-box{
        text-align: left;
        position: absolute;
        bottom: 0px;
        background: rgba(245, 231, 230, 0.62);
        width: 100%;
        left: 0px;
        right: 0px;
        padding: 10px 15px;
    }
    &--title{
        margin-bottom: 10px;
        & a{
            color: #4f4f4f;
            text-decoration: none;
            &:hover{
                color: #e99f92;
            }
        }
    }
    &--time{
        .time {
            display: inline-block;
            padding-right: 20px;
            font-size: 12px;
        }
    }
    &-content{
        padding: 30px 0px;
        margin-bottom: 50px;
    }
}
}//blog-slider
.blog{
    &-content{
        margin-top: 30px;
        .row-border-buttom {
            margin: 20px 0px;
            border-bottom: 1px solid #eeeeee;
        }
    }
    &--category {
        font-size: 12px;
        letter-spacing: 0.08em;
        margin: 0 2px;
        color: #333;
        padding-bottom: 3px;
        text-transform: uppercase;
        padding-bottom: 10px;
        &:after {
            content: "";
            border-bottom: 1px solid #0ac4ff;
            display: block;
            width: 40%;
        }
    }
    &-title{
        padding-bottom: 10px;
    }
    &--inline {
        font-size: 12px;
    }
    & .inline{
        display: inline;
        margin-right: 10px;
    }
    &-description{
        text-align: left;
        & p{
            text-align: left;
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
}
.mt-20{
    margin-top: 20px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0ac4ff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0px;
    font-size: 14px !important;
}
.content .pagi .pagination li a {
    width: 30px;
    height: 30px;
    display: block;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
// sidebar
.blog, .blog-detail{
    .sidebar {
        margin-top: 30px;
        margin-bottom: 90px;
        .widget {
            margin-bottom: 31px;
            padding: 20px;
            border: 1px solid #e5e5e5;
            overflow: hidden;
            & > h2 {
                position: relative;
                margin-bottom: 34px;
                text-align: center;
                text-transform: uppercase;
                overflow: visible;
                font-size: 16px;
                font-weight: bold;
                &:after {
                    background: #0ac4ff;
                    width: 33px;
                    height: 1px;
                    position: absolute;
                    content: '';
                    margin-left: -17px;
                    left: 50%;
                    bottom: -15px;
                }
            }
            &_text img {
                margin: 10px 0 25px;
            }
            
        }
        .textwidget{
            text-align: center;
            h3{
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                color: #e69c8f;
            }
        }
        .social-well {
            text-align: center;
        }
        .post-category, .post-date {
            font-size: 12px;
            color: #e69c8f;
        }
        .post-category:after {
            content: '/';
            margin-left: 4px;
        }
    }
    .blog-last-title a {
        color: #333;
    }
}
// blog detail
.blog-detail{
    &--content{
        padding-top: 30px;
        padding-bottom: 90px;
    }
    &--title {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
    }
    &--categoy {
        color: #e69c8f;
        text-align: center;
        text-transform: uppercase;
        padding: 15px 0px;
        position: relative;
        &:after {
                background: #0ac4ff;
                width: 50px;
                height: 1px;
                position: absolute;
                content: '';
                margin-left: -17px;
                left: 48%;
                bottom: 0px;
            }
    }
    .blog-header-text {
        text-align: center;
        padding: 15px;
    }
    span.blog-detail-creator {
        color: #e69c8f;
        font-size: 12px;
        margin-right: 10px;
    }
    span.blog-detail-date {
        color: #e69c8f;
        font-size: 12px;
    }
    .time-blog{
        .date-post{
            font-size: 12px;
            padding-top: 10px;
        }
    }
}
.blog-content{
    a{
        position: relative;
        &:hover{
            opacity: .8;
            img{
                opacity: 0.8;
            }
        }
    }
    .post-day {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 99;
        padding: 5px 0px;
        width: 50px;
        height: 60px;
        background: #e69c96;
        color: #fff;
        text-align: center;
        font-weight: bold;
        &.color-blue {
            background: #0ac4ff;
        }
        .day {
            font-size: 34px;
            line-height: 32px;
        }
        .month {
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.product-blog-box{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    padding-bottom: 20px;
    .post-day {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 99;
        padding: 5px 0px;
        width: 50px;
        height: 60px;
        background: #e69c96;
        color: #fff;
        text-align: center;
        font-weight: bold;
        &.color-blue {
            background: #0ac4ff;
        }
        .day {
            font-size: 34px;
            line-height: 32px;
        }
        .month {
            font-size: 14px;
            font-weight: 400;
        }
    }
}
.product-blog-detail{
    padding: 10px 15px;
    a{
        color: #333333;
        &:hover{
            color: #0ac4ff;
        }
    }
}
.product-cagegory {
    position: absolute;
    z-index: 10;
    background: #0ac4ff;
    left: 0px;
    top: 0px;
    &.color-pink{
        background: #e69c8f;
    }
    & a{
        color: #fff;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 12px;
        text-decoration: none !important;
        &:hover{
            opacity: .8;
        }
    }
}
.product-slick .product-slic .product-image-slic.border-pink{
    border-top: 2px solid #e69c8f;
}

@media (max-width: 768px) {
    #blog-slider {
        .slick-slider {
            margin-right:0px;
            margin-left:0px;
        }
        .slick-slide, .slick-list {
            text-align:center;
            margin-right:0px !important;
            margin-left:0px !important;
        }

        .slick-prev::before{
            left: 20px;
        }
        .slick-next::before{
            right: -17px;
            left: -16px;
        }
    }//blog-slider
    .product-content{
        padding: 0px 15px;
    }
}